*{
	font-family:'Josefin Sans', sans-serif;
}

.icons span{
	background: rgba(128,128,128,0.2);
	padding: 5px 5px;
	line-height: 0;
	margin-right: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.icons span:last-child svg{
	fill: #c30101;
}
.icons span:first-child svg{
	fill: #0f52ba;
}

.detail-row {
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.075);
	max-width: 500px;
	margin: auto;
	padding: 20px;
}
.detail-row div{
	display: flex;
}
.detail-row div span:first-child{
	font-weight: 600;
	text-align: left;
}

.detail-row div span{
	width: 300px;
	padding: 10px 20px;
	font-size: 17px;
}

table{
	border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
thead tr{
	background: #36304a;
	color: #fff;
	font-size: 18px;
	height: 60px;
}
th{
	font-weight:normal !important;	
	padding-bottom: 15px !important;
	border: none !important;
}

tbody tr{
	height: 50px;
	color: #808080 !important;
}
tbody tr:nth-child(odd){
	background: rgba(0, 0, 0, 0.05);
}
tbody tr:hover {
    color: #555555 !important;
    background: rgba(0, 0, 0, 0.075);
}

tr th:first-child, tr td:first-child{
	padding-left: 30px;
}
tr th:last-child, tr td:last-child{
	padding-right: 30px;
}
td{
	padding-top: 15px !important;
	border:none !important;
}



h2{
	color:#36304a;
}


.btn{
	background: rgba(54, 48, 74,0.8) !important;
	border: none !important;
}
.btn:hover{
	background: rgba(54, 48, 74,1) !important;
}
.btn:active:focus{
	box-shadow: 0 0 0 0.25rem rgba(54, 48, 74,0.5) !important
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(54, 48, 74,0.5) !important;
}

.btn-danger{
	background: rgba(195, 01, 01,0.8) !important;
}
.btn-danger:hover{
	background: rgba(195, 01, 01,1) !important;
}
.btn-danger:active:focus{
	box-shadow: 0 0 0 0.25rem rgba(195, 01, 01,0.5) !important
}
.btn-check:focus+.btn-danger, .btn-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(195, 01, 01,0.5) !important;
}


.pdf-viewer{
	max-height: 68vh;
	overflow-y: auto;
}
.pdf-viewer canvas{
	margin: auto;
}


.header{
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background-color: #fff;
    box-shadow: 0 0 0 0.1rem rgba(128, 128, 128,0.5) !important;
}
.header img{
	margin-left: 2rem;
}
.footer{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 100%;
	background-color: #fff;
    box-shadow: 0 0 0 0.1rem rgba(128, 128, 128,0.5) !important;
}
.footer div{
	margin: 15px;
	font-size: 14px;
}

.main-view{
	margin-top: 105px;
	margin-bottom: 80px !important;
}


.react-bootstrap-table-pagination .page-item, .react-bootstrap-table-pagination .page-item .page-link{
	color: rgba(54, 48, 74,1) !important
}
.react-bootstrap-table-pagination .active, .react-bootstrap-table-pagination .active .page-link{
	background: rgba(54, 48, 74,1) !important;
	color: #fff !important;
	border:none;
	box-shadow: none !important;
}

.react-bootstrap-table-pagination ul li, .react-bootstrap-table-pagination ul li .page-link{
	box-shadow: none !important;
}
.react-bootstrap-table-pagination ul li:first-child{
	border-radius: 5px 0 0 5px;
}
.react-bootstrap-table-pagination ul li:last-child{
	border-radius: 0 5px 5px 0;
}

.react-bootstrap-table-pagination .pagination{
	justify-content: end;
}